body {
  background-color: rgb(222, 239, 203);
}
h1 {
  color: rgb(14, 5, 65);
  font-size: 50px;
  line-height: 2;
  text-align: center;
}
a {
  font-size: 18px;
  color: rgb(37, 17, 137);
}
.container {
  max-width: 900px;
  margin: 50px auto;
}
form {
  padding: 30px;
  background-color: whitesmoke;
  display: flex;
}
.input {
  padding: 20px;
  border: 1px solid rgb(37, 17, 137);
  width: 70%;
  font-size: 20px;
  border-radius: 30px;
  color: rgb(37, 17, 137);
}
.submit {
  padding: 20px;
  border: 1px solid rgb(51, 6, 90);
  margin-left: 10px;
  width: 15%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  background-color: rgb(37, 17, 137);
  color: aliceblue;
}
.recipe {
  font-size: 25px;
  background-color: whitesmoke;
  padding: 40px;
  border-left: 8px solid rgb(37, 17, 137);
  line-height: 20px;
  margin-top: 20px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  margin-top: -40px;
}
